.mystyle{
  color: red;
  font-size: 20px;
  background: lightblue;
  padding: 10px;
  border: 2px solid blue;
  border-radius: 5px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  transition: background-color 0.3s ease; 
  animation: alternate-reverse 5s infinite;
  animation: myAnimation 5s alternate-reverse infinite;
  }

  @keyframes myAnimation {
    0% {
      background: lightblue;
      color: red;
    }
    100% {
      background: lightgreen;
      color: blue;
    }
}